# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model & output files
*.safetensors
*.pt
*.onnx
*.ckpt
*.bin

# Temporary files
*.tmp
*.bak
